.col-sm-2-verde{background-color: green;
border: 1px solid orange;}
.col-sm-5-verde{background-color: green;
    border: 1px solid orange;}
    .col-sm-4-verde{background-color: green;
        border: 1px solid orange;}
        .col-sm-2-verde{background-color: green;
            border: 1px solid orange;}